---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!doctype html>

<html>
<head>
  <title>Keep Brevard Musical</title>
  <link href="/css/kbm.css" rel="stylesheet">
  <link rel=canonical href="https://www.facebook.com/KeepBrevardMusical">
</head>

<body>
  <a href="https://www.facebook.com/KeepBrevardMusical"><img alt="Keep Brevard Musical - Show #3, Friday July 31" class=splashy src=/img/show1@1x.jpg srcset="/img/show1@1x.jpg 1x, /img/show1@2x.jpg 2x"></a>
</body>
</html>
